.dark {
  /* Dark mode styles */
  background-color: #1a202c;
  color: black;
}

body {
  /* Light mode body styles */
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
}


/* box-shadow: -4px -4px 12px 5px #5c5c5c, 5px 5px 12px 5px #8d8d8d; */

.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .about-header {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .about-sub-header {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-paragraph {
    font-size: 1em;
    line-height: 1.6;
  }
  
  .about-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-list-item {
    margin-bottom: 10px;
  }
  

  *:focus {
    outline: none;
}

.Tag{
  font-size: 13px;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
   rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.filters-btn{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
   rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.Modal{
  box-shadow: rgba(0, 0, 0, 0.56) -1px 4px 17px 4px;
}